<?xml version='1.0' encoding='utf-8'?>
<plugin id="uk.co.nightsnowgames.cordova.key_events" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-key-events</name>
    <js-module name="cordova-key-events" src="www/cordova-key-events.js">
        <clobbers target="cordova.plugins.cordova-key-events" />
    </js-module>
</plugin>
